# Data analysis of TMDB
Ih this task I am going to do some data analysis of movies and tv shows that are in The Movie DataBase.
The insights I am going to find is the following:
- What directors have made most movies and/or tv-shows.
- What actors have been the most active.
- What genres was the most popular per decade.

## Getting the data

I was at first going to just use [TMDB's API](https://developer.themoviedb.org/reference/intro/getting-started), but I encountered a problem. When I was trying to call for the 501th page (i.e. pages 500+) it gave me a error with the text `Invalid page: Pages start at 1 and max at 500. They are expected to be an integer.`, this is quite annoying since the amount of pages as today (16 01 2025) is a whoping `48184`. And with the page limit I would only be able to access **just a bit over 1%** using this method. I did then discover the [daily ID](https://developer.themoviedb.org/docs/daily-id-exports) lists that they have. This was pretty sweet, but sadly i stumbled upon a me problem this time, my code was not good enough and I did not know how to improve it further, a aproximatly 190 hours of processing time to find directors from just the `People` list? Not acceptable, I then went for something a bit easier, I found this lovely [.csv file](https://www.kaggle.com/datasets/alanvourch/tmdb-movies-daily-updates) that user Alan Vourc'h had uploaded to Kaggle, and that file is what I am goign to use for this project.

## Start of code
I am going to use Python as my coding language, since it is what I am the most comfortable with.

The very first thing I do is choose my modules for my code:
- I chose `pandas` as my module of choice to handle the .csv file.
- I chose `numpy` for its usefull math library.
- I chose `seaborn` for its posibility to visualize data in a friendly way.
- I chose `matplotlib.pyplot` for making graphing possible.
- I chose `ipywidgets` for making the graphs interactive.
- I chose `date` from `datetime` for removing movies that have not been released yet.
- I chose `Counter` from `collections` to go over how often a genre shows up.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import ipywidgets as widgets
from datetime import date
from collections import Counter

Then since the file itself has many columns that I do not need, I made a list for them, and put that list in to the `usecols` parametre in panas' `read_csv`.

In [2]:

fields = ["title","id","popularity","vote_average","vote_count","release_date","revenue","budget","runtime","genres","cast","director","writers","producers","imdb_rating","imdb_votes"] # Put the info you want here

df = pd.read_csv(r"Data\TMDB_all_movies.csv", skipinitialspace=True, usecols=fields)

Then, since there are some rows that had `NAN` as their values, i changed those to a 0 where it was fitting. (I did not do this for the movies with no credits, they are filtered out.) 
I also set the index to be the movies ID.

In [3]:
#Data cleaning START
df.set_index("id", inplace=True) #Sets the index to be the movies ID

for i in ["vote_average","vote_count","revenue","budget","imdb_rating","imdb_votes"]:
    df[i].fillna(0,inplace=True)
    #This replaces NAN values with in the list to 0


df["release_date"] = pd.to_datetime(df["release_date"]) #Turns the dates in to the date format

today = pd.to_datetime(date.today())
df = df[df["release_date"] <= today] #This removes movies that are in the dataset that are not out yet.

df.drop_duplicates(inplace = True)

df.dropna(inplace=True)
#Data cleaning END

C:\Users\Bruker\AppData\Local\Temp\ipykernel_5164\175845122.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[i].fillna(0,inplace=True)

## The First Question

So to find out who has directed the most movies, and how many movies they have directed I do a quick query on the `director` collumn.

In [ ]:
df["director"].describe(include="object")
#df["director"].value_counts()[:5].index.tolist()
#TODO: Check if short movies are included in this list!

count             226147
unique            106974
top       David DeCoteau
freq                 142
Name: director, dtype: object

And here I look at the `top` in the terminal to find out that it is David DeCoteau that has directed the most movies, and by looking at `freq` that he has directed 142 movies.

## The Second Question

Now to find the person whom has acted in the most movies, this is found in a very similar way to the first question, but now I will use the collumn `cast`.

In [5]:
df["cast"].describe(include="object")

count        226147
unique       223570
top       Mel Blanc
freq            139
Name: cast, dtype: object

And it is Mel Blanc that has played in the most movies, in 139 of them.

## The Third Question

Now to find out what genres are the most popular per decade, I first divide up each movie in to the decades that they are in.

In [6]:
df["decade"] = (df["release_date"].dt.year // 10) * 10

I then run a `df.head()` to make sure that the new collumn `decade` has been added.

In [7]:
df.head()

,title,vote_average,vote_count,release_date,revenue,runtime,budget,popularity,genres,cast,director,writers,producers,imdb_rating,imdb_votes,decade
id,,,,,,,,,,,,,,,,
2,Ariel,7.100,338.0,1988-10-21,0.0,73.0,0.0,12.553,"Comedy, Drama, Romance, Crime","Jyrki Olsonen, Jaakko Talaskivi, Olli Varja, H...",Aki Kaurismäki,Aki Kaurismäki,Aki Kaurismäki,7.4,8892.0,1980
3,Shadows in Paradise,7.300,402.0,1986-10-17,0.0,74.0,0.0,16.411,"Comedy, Drama, Romance","Sirkka Silin, Helmeri Pellonpää, Tanja Talaski...",Aki Kaurismäki,Aki Kaurismäki,Mika Kaurismäki,7.5,7681.0,1980
5,Four Rooms,5.900,2650.0,1995-12-09,4257354.0,98.0,4000000.0,19.476,Comedy,"Lili Taylor, Valeria Golino, Marisa Tomei, Mar...","Quentin Tarantino, Robert Rodriguez, Allison A...","Quentin Tarantino, Robert Rodriguez, Allison A...","Quentin Tarantino, Lawrence Bender, Alexandre ...",6.7,113177.0,1990
6,Judgment Night,6.500,333.0,1993-10-15,12136938.0,109.0,21000000.0,12.110,"Action, Crime, Thriller","Stephen Dorff, Everlast, Will Zahrn, Emilio Es...",Stephen Hopkins,"Jere Cunningham, Lewis Colick","Gene Levy, Marilyn Vance, Lloyd Segan",6.6,19493.0,1990
9,Sunday in August,7.135,26.0,2004-09-02,0.0,15.0,0.0,2.729,Drama,"Rita Lengyel, Milton Welsh","Marc Meyer, Anna Haas",Marc Meyer,Marc Meyer,6.8,14.0,2000

And it has!
I will now gothrough each movie and find its genres, I am going to test a few diffrent aproaches for this:
1. I will tally up the genres for each movie, so if a movie is a `drama` & `comedy` movie that was released in the decade `1980`, the decade `1980` will have `1 drama movie` "point" and `1 comedy movie` "point"
2. I will do similar as in 1., but instead each movie will count as a fraction (`1/n` where `n` is the amount of genres that movie has). So the same movie in method 1. the decade `1980` will have `0.5 drama movie` "points" and `0.5 comedy movie` "points".
3. Similar as to 1., but this time the `popularity` collumn will play in, if the movie in method 1. has a `popularity` score of `10` the decade `1980` will have `10 drama movie` "points" and `10 comedy movie` "points".
4. Similar as to 3, but this time based on method 2., so it will divide the popularity on the amount of genres. So then the decade `1980` will have `5 drama movie` "points" and `5 comedy movie` "points".

I wanted to do this with multiple different aproaches, the first and third might give a slightly "bloated" feeling when it comes to genres, since a movie rarely has only one genre. Therfore I made the second and fourth aproaches. And for the first and second aproach versus third and fourth aproach, I thought it would be interesting to see if the most common genres per dacade was the most popular ones

I start with finding out all the diffrent decades in the data set.

In [8]:
print(df["decade"].unique())

[1980 1990 2000 1970 1940 1920 1960 1930 1950 2010 1910 1900 2020 1890]

Now with the diffrent decades, i go through each movie in the list, starting with the earliest decade. I then use the `pandas.explode()` to get a copy of each genre per movie by itself. Then I use `Counter` to count how many induvidual times each genre shows up, add it to a dictionary, and then go on to the next decade. I repeat this untuil there are no more decades.

In [9]:
def count_genres_once_per_movie() -> dict:
    """
    Goes through each movie in the data frame, going decade by decade, starting with the earliest decade.
    Then it splits up each genre in to its own "copy" of the movie with with `.explode()`.
    It then with `Counter()` it counts all the genres and how many times they showed up in that decade.
    Then it adds the value for each genre, the value is the amount of times a movie has that genre.
    Then it goes to the next decade.
    returns:
        dict: a dict of each decade, and its popularity
    """
    
    genre_popularity_per_decade = {}
    
    for decade in sorted(df["decade"].unique()):
        temporary_df = df[df["decade"] == decade]
        #I first use the pandas .explode() method to get each genre for itself
        all_genres_that_decade = temporary_df["genres"].str.split(", ").explode()
        genre_count = Counter(all_genres_that_decade)
        sorted_genres = dict(sorted(genre_count.items(), key=lambda x: x[1], reverse=True)) #Makes it so that each genre in the decade dicts are sorted with the most often at the top.

        genre_popularity_per_decade[int(decade)] = dict(sorted_genres)

        
    return genre_popularity_per_decade    

def count_genres_weighted_by_count() -> dict:
    """Goes through each movie in the data frame, then for each movie, it gets its genres, and logs how many genres that movie id had.
    Then it splits up each genre in to its own "copy" of the movie with with `.explode()`.
    It then with `Counter()` it counts all the genres and how many times they showed up in that decade.
    Then it adds the value for each genre, the value is the amount of times a movie has that genre, divided on how many genres that movie had.
    Then it goes to the next decade.

    returns:
        dict: a dict of each decade, and its popularity
    """
    
    genre_popularity_per_decade = {}
    
    for decade in sorted(df["decade"].unique()):
        temporary_df = df[df["decade"] == decade]
        
        genre_weights = Counter()
        
        for genres in temporary_df["genres"]:
            genre_list = genres.split(", ")
            weight = 1 / len(genre_list)
            
            
            for genre in genre_list:
                genre_weights[genre] += weight
            
        rounded_weights = {genre: round(weight, 2) for genre, weight in genre_weights.items()} #Makes it so that each genre in the finished dict is rounded, if i rounded it in the loop above it did not work.
        sorted_genres = dict(sorted(rounded_weights.items(), key=lambda x: x[1], reverse=True)) #Makes it so that each genre in the decade dicts are sorted with the most often at the top.
            
        genre_popularity_per_decade[int(decade)] = dict(sorted_genres)
    
    return genre_popularity_per_decade  

def count_genres_weighted_by_popularity() -> dict:
    """
    Goes through each movie in the data frame, going decade by decade, starting with the earliest decade, also gets the movies popularity.
    Then it splits up each genre in to its own "copy" of the movie with with `.explode()`.
    It then with `Counter()` it counts all the genres and how many times they showed up in that decade, multiplied with that movies popularity.
    Then it goes to the next decade.
    
    returns:
        dict: a dict of each decade, and its popularity
    """
    
    genre_popularity_per_decade = {}
    
    for decade in sorted(df["decade"].unique()):
        temporary_df = df[df["decade"] == decade]
        
        genre_weights = Counter()
        
        for _, row in temporary_df.iterrows():
            genres = row["genres"].split(", ")
            popularity = row["popularity"]  # Get the popularity for the movie
            
            
            for genre in genres:
                genre_weights[genre] += popularity
            
        rounded_weights = {genre: round(weight, 2) for genre, weight in genre_weights.items()} #Makes it so that each genre in the finished dict is rounded, if i rounded it in the loop above it did not work.
        sorted_genres = dict(sorted(rounded_weights.items(), key=lambda x: x[1], reverse=True)) #Makes it so that each genre in the decade dicts are sorted with the most often at the top.
            
        genre_popularity_per_decade[int(decade)] = dict(sorted_genres)
    
    return genre_popularity_per_decade

def count_genres_weighted_by_popularity_and_count() -> dict:
    """
    Goes through each movie in the data frame, going decade by decade, starting with the earliest decade, also gets the movies popularity.
    Then it splits up each genre in to its own "copy" of the movie with with `.explode()`.
    It then with `Counter()` it counts all the genres and how many times they showed up in that decade, multiplied with that movies popularity, then divided by the amount of genres that movie had.
    Then it goes to the next decade.
    
    returns:
        dict: a dict of each decade, and its popularity
    """
    genre_popularity_per_decade = {}
    
    for decade in sorted(df["decade"].unique()):
        temporary_df = df[df["decade"] == decade]
        
        genre_weights = Counter()
        
        for _, row in temporary_df.iterrows():
            genres = row["genres"].split(", ")
            popularity = row["popularity"]  # Get the popularity for the movie
            weight = 1 / len(genres)
            
            
            for genre in genres:
                genre_weights[genre] += popularity*weight
            
        rounded_weights = {genre: round(weight, 2) for genre, weight in genre_weights.items()} #Makes it so that each genre in the finished dict is rounded, if i rounded it in the loop above it did not work.
        sorted_genres = dict(sorted(rounded_weights.items(), key=lambda x: x[1], reverse=True)) #Makes it so that each genre in the decade dicts are sorted with the most often at the top.
            
        genre_popularity_per_decade[int(decade)] = dict(sorted_genres)
    
    return genre_popularity_per_decade

I am also going to make a simple function to get the top `N` movie genres per decade.

In [10]:
def get_top_genres(genre_popularity: dict, top_n: int = 3) -> dict:
    """gets the top N genres for all the decades in the dict.

    Args:
        genre_popularity (dict): Use `first_way()`, `second_way()`, `third_way()` or `fourth_way()`
        top_n (int, optional): How many genres to look for. Defaults to 3.

    Returns:
        dict: the `genre_popularity` with the `top_n` genres as a dict
    """
    
    top_genres = {}
    
    for decade, genre_counts in genre_popularity.items():
        top_n_genres = dict(sorted(genre_counts.items(), key=lambda x: x[1], reverse=True)[:top_n])
        top_genres[decade] = top_n_genres

    return top_genres

So, time to see what the diffrent methodes and see what information they give us

In [11]:
df_genres = pd.DataFrame.from_dict(count_genres_once_per_movie(), orient="index")
df_genres.fillna(0,inplace=True)


decades = [str(i) for i in df["decade"].unique()]
decades = sorted(decades)

decade_tup = [(item,index + 1) for index, item in enumerate(decades)]

decade_picker = widgets.Dropdown(
    options=decade_tup,
    description="Decade:",
)
decade_picker


# Define the update function for the plot
def update_bar_plot(decade_value):
    # Filter the data based on the selected decade
    df_decade = df[df["decade"] == decade_value]
    
    # Assuming 'df_genres' has columns for genres and rows for counts or other metrics
    # Adjust this as per your specific data structure
    plt.figure(figsize=(10, 6))
    plt.barh(df_genres.columns, df_genres.iloc[decade_value - 1])  # Adjust based on your data
    plt.title(f"Genre Distribution for the {decades[decade_value - 1]}")
    plt.xlabel("Count")
    plt.ylabel("Genres")
    plt.show()

# Use widgets.interactive to automatically refresh the plot when a new decade is selected
widgets.interactive(update_bar_plot, decade_value=decade_picker)

interactive(children=(Dropdown(description='Decade:', options=(('1890', 1), ('1900', 2), ('1910', 3), ('1920',…

In [12]:
df_genres.iloc[0]

Comedy             5.0
Fantasy            4.0
Horror             3.0
Drama              1.0
Family             1.0
Romance            1.0
History            0.0
Adventure          0.0
Crime              0.0
Science Fiction    0.0
Action             0.0
Western            0.0
War                0.0
Mystery            0.0
Thriller           0.0
Animation          0.0
Documentary        0.0
Music              0.0
TV Movie           0.0
Name: 1890, dtype: float64

In [13]:
def get_genre_moods(decade_id:int) -> list[float,float,float]:
    """Goes through each genre for that year, summing up the diffrent genre points in to one of thre categories, `positive`, `negative` and `neutral`. And then outputs value of those diffrent categories.

    Args:
        decade_id (int): The year to find the genre moods for. `decade_id[0] = 1890` ... `decade_id[13] = 2020´

    Returns:
        list[float,float,float]: The diffrent mood values, ´[positive, negative, neutral]´
    """

    positive_genres = ["Music", "Adventure", "Romance", "Family", "Comedy"]
    negative_genres = ["Thriller", "War", "Crime", "Horror"]
    neutral_genres = ["TV Movie", "Documentary", "Animation", "Mystery", "Western", "Action", "Science Fiction", "History", "Drama", "Fantasy"]
        
    positive_points = 0
    negative_points = 0
    neutral_points = 0
    
    decade = df_genres.iloc[decade_id]

    positive_points += sum(decade[mood] for mood in positive_genres)
    negative_points += sum(decade[mood] for mood in negative_genres)
    neutral_points += sum(decade[mood] for mood in neutral_genres)

    return [positive_points.item(),negative_points.item(),neutral_points.item()] #the `.item()` turns it in to a `float` from a `np.float64``

In [14]:
mood_data = {
    "Decade": [int(item) for item in decades], #Turns each decade in to a int
    "Positive": [get_genre_moods(i)[0] for i in range(len(decades))],
    "Negative": [get_genre_moods(i)[1] for i in range(len(decades))],
    "Neutral": [get_genre_moods(i)[2] for i in range(len(decades))]
}

In [15]:
df_mood = pd.DataFrame(mood_data)
#df_mood = df_mood.melt(id_vars="Decade", var_name="Mood", value_name="Value") #Melting causes each "shared data" to be split up.
df_mood

    Decade  Positive  Negative  Neutral
0     1890       7.0       3.0      5.0
1     1900      24.0      13.0     60.0
2     1910     448.0     135.0    859.0
3     1920    1190.0     284.0   1474.0
4     1930    3935.0    1046.0   3781.0
5     1940    3895.0    1639.0   4513.0
6     1950    5224.0    2393.0   6933.0
7     1960    6162.0    3032.0   8878.0
8     1970    6775.0    4537.0  13867.0
9     1980    8194.0    5052.0  16049.0
10    1990   10566.0    6938.0  20304.0
11    2000   16590.0   10201.0  28410.0
12    2010   29962.0   20123.0  57489.0
13    2020   27188.0   20982.0  54915.0

In [16]:
# Define the update function for the plot
def update_pie_plot(decade_value):
    decade_id = decade_value - 1
    colors = ["green", "red", "grey"]
    plt.figure(figsize=(10, 6))
    plt.title(f"Genre Distribution for the {decades[decade_id]}")
    plt.pie([df_mood["Positive"].iloc[decade_id], df_mood["Negative"].iloc[decade_id], df_mood["Neutral"].iloc[decade_id]] , labels=["Positive","Negative","Neutral"], autopct='%.0f%%', colors=colors) 
    plt.show()

# Use widgets.interactive to automatically refresh the plot when a new decade is selected
widgets.interactive(update_pie_plot, decade_value=decade_picker)

interactive(children=(Dropdown(description='Decade:', options=(('1890', 1), ('1900', 2), ('1910', 3), ('1920',…

Todo: Make a grap based on popularity of a genre / amount of movies in that genre

In [23]:
print(count_genres_once_per_movie()[1890])

{'Comedy': 5, 'Fantasy': 4, 'Horror': 3, 'Drama': 1, 'Family': 1, 'Romance': 1}

In [ ]:
print(count_genres_weighted_by_popularity()[1890])

23.6

In [37]:
popularity_weighted = count_genres_weighted_by_popularity()
genre_counts = count_genres_weighted_by_count()

def genre_popularity() -> dict:
    """Generates a dict that is the popularity per genre divided by the amount of times that genre appeared in the dataset.

    Returns:
        dict: dictionary for each genre with its popularity avrage rating.
    """
    
    for decade in sorted(df["decade"].unique()):
        for genre in popularity_weighted[decade]:
            print(genre)

In [46]:
def genre_popularity() -> dict:
    """Generates a dict that is the popularity per genre divided by the amount of times that genre appeared in the dataset.

    Returns:
        dict: dictionary for each genre with its popularity avrage rating.
    """
    popularity = 0
    count = 0
    for decade in sorted(df["decade"].unique()):
        for genre in popularity_weighted[decade]:
            popularity = popularity_weighted[decade][genre]
            count = genre_counts[decade][genre]
            print("%s, %s: %s " % (decade,genre,round(2,popularity/count)))

In [47]:
genre_popularity()

1890, Fantasy: 8.581818181818182
1890, Horror: 14.053333333333333
1890, Comedy: 3.98
1890, Drama: 34.16
1890, Family: 34.16
1890, Romance: 34.16
1900, Fantasy: 6.0864864864864865
1900, Drama: 2.7941542288557217
1900, Adventure: 14.44
1900, Comedy: 2.5709281961471104
1900, Science Fiction: 25.712962962962962
1900, History: 4.169411764705882
1900, Crime: 8.582857142857142
1900, Horror: 5.621722846441948
1900, Action: 14.48
1900, Family: 10.77
1900, Western: 33.88
1900, War: 20.64
1900, Thriller: 12.96969696969697
1900, Mystery: 1.8181818181818181
1900, Romance: 1.393939393939394
1910, Drama: 1.6831761006289307
1910, Comedy: 2.8725752779806837
1910, Romance: 3.970358074460517
1910, Western: 1.245771227600067
1910, Adventure: 3.541967213114754
1910, History: 4.788321167883211
1910, War: 5.211315610088617
1910, Horror: 3.574799196787148
1910, Fantasy: 4.981922760887429
1910, Action: 4.713365539452496
1910, Crime: 2.200229270156668
1910, Science Fiction: 5.678857142857143
1910, Thriller: 4.049844236760125
1910, Animation: 5.013856812933025
1910, Family: 6.469090909090909
1910, Mystery: 1.7171189979123171
1910, Documentary: 1.6763636363636365
1920, Drama: 3.146935088050484
1920, Comedy: 2.9407053780202648
1920, Romance: 6.249941629698809
1920, Adventure: 5.539541759053954
1920, Horror: 10.875405963979924
1920, Crime: 5.004121586810922
1920, Fantasy: 8.884880421564652
1920, Western: 2.3655890410958906
1920, Action: 5.60984327742645
1920, History: 5.765620142990363
1920, War: 7.573516386182463
1920, Thriller: 9.740079365079366
1920, Mystery: 4.521361058601134
1920, Family: 10.852216748768475
1920, Music: 4.718023255813954
1920, Science Fiction: 9.39125
1920, Documentary: 5.636658556366585
1920, Animation: 4.436676798378926
1930, Drama: 4.541219483429649
1930, Comedy: 3.8240921140886015
1930, Romance: 7.964541807827406
1930, Crime: 6.158558911991631
1930, Adventure: 8.50752085327499
1930, Music: 4.635542051341981
1930, Western: 3.5188935093111553
1930, Mystery: 7.000440445479141
1930, Action: 7.5305667849187365
1930, Horror: 13.339417339417341
1930, Animation: 7.953083253179438
1930, Thriller: 10.002000923503156
1930, History: 7.813999021047478
1930, War: 10.521238586740768
1930, Family: 13.619329896907216
1930, Fantasy: 19.87304015296367
1930, Science Fiction: 13.076923076923077
1930, Documentary: 2.6666666666666665
1930, TV Movie: 1.7848101265822782
1940, Drama: 5.681546311388279
1940, Comedy: 4.599610888659261
1940, Romance: 10.561902280130294
1940, Crime: 8.904581455687559
1940, Thriller: 12.987178746751372
1940, Mystery: 10.486668916638541
1940, Animation: 6.193654583604659
1940, War: 8.834425792699173
1940, Western: 4.329947059665188
1940, Music: 6.645916114790287
1940, Adventure: 9.392272605312584
1940, Action: 10.31816870251034
1940, Family: 13.369893992932862
1940, Fantasy: 18.984782107447547
1940, Horror: 9.839512711864408
1940, History: 6.420338983050848
1940, Documentary: 2.0984567137080137
1940, Science Fiction: 11.946294307196561
1940, TV Movie: 4.382857142857143
1950, Drama: 4.934798939718893
1950, Comedy: 4.031308722616124
1950, Romance: 9.786029104449257
1950, Crime: 7.440351697689645
1950, Western: 6.452302341961612
1950, Adventure: 9.18042726987119
1950, Thriller: 10.91565060963422
1950, War: 9.555400658004794
1950, Music: 6.364416993070202
1950, Horror: 9.455972457256228
1950, Science Fiction: 13.305637738330045
1950, Animation: 5.738740054018541
1950, Action: 8.978301940802657
1950, History: 11.022647058823528
1950, Mystery: 9.914920971035318
1950, Family: 9.195549757193593
1950, Fantasy: 12.990305380513815
1950, Documentary: 1.5039741068502128
1950, TV Movie: 5.401595214356929
1960, Drama: 5.031518387107471
1960, Comedy: 5.198544180575033
1960, Romance: 8.556292676041428
1960, Adventure: 10.280172010844163
1960, Crime: 7.458416878116294
1960, Thriller: 11.505191320578628
1960, Action: 9.295546952986147
1960, Horror: 8.308106853695014
1960, Western: 7.864832721443715
1960, Science Fiction: 11.90735085614571
1960, War: 11.346006579302161
1960, Family: 10.101245523066233
1960, Mystery: 12.20935354320508
1960, Music: 6.831300887890063
1960, History: 10.372885466561572
1960, Fantasy: 11.428752327746741
1960, Animation: 4.778808510638298
1960, TV Movie: 5.312176093619393
1960, Documentary: 1.7689076650399396
1970, Drama: 5.579328531314857
1970, Comedy: 5.805116057462377
1970, Action: 9.58132661244129
1970, Thriller: 13.945280011724403
1970, Horror: 9.72145805583763
1970, Crime: 10.832076245779026
1970, Adventure: 11.78038495882528
1970, Romance: 8.46485623003195
1970, TV Movie: 6.132437159703218
1970, Science Fiction: 16.466135075415504
1970, Mystery: 14.281251373083176
1970, Family: 9.110968202929618
1970, Western: 8.334471981975435
1970, Fantasy: 11.78691662444407
1970, History: 10.226168224299066
1970, War: 13.286973241467715
1970, Animation: 5.086035082929493
1970, Music: 6.294334428558742
1970, Documentary: 1.98660845318462
1980, Drama: 6.05433570948278
1980, Comedy: 8.004486001939465
1980, Action: 12.348842710876436
1980, Horror: 11.500052762652484
1980, Thriller: 15.862980958221298
1980, Romance: 11.526211713826413
1980, Crime: 13.910321824574055
1980, Adventure: 20.439863021326353
1980, Science Fiction: 18.864546458610633
1980, Fantasy: 19.365517482029453
1980, TV Movie: 6.456221370244971
1980, Family: 11.46587723814427
1980, Animation: 7.229160864628634
1980, Mystery: 15.420183575348453
1980, War: 14.919739385694854
1980, Music: 7.1946156932842085
1980, History: 11.271819262782403
1980, Documentary: 1.9017107021420159
1980, Western: 10.547880973850315
1990, Drama: 7.98482673697411
1990, Comedy: 9.854502800310595
1990, Action: 14.75839922422796
1990, Thriller: 15.45975810795371
1990, Romance: 15.226042786910432
1990, Crime: 16.401814027233726
1990, Adventure: 28.406012702893438
1990, Family: 18.086176441401207
1990, Horror: 9.66576278540051
1990, Science Fiction: 18.196630049083144
1990, Fantasy: 21.89755497882803
1990, TV Movie: 8.072643663375889
1990, Animation: 12.666254842424877
1990, Mystery: 20.646197244222634
1990, History: 14.140972755180353
1990, Documentary: 2.0092155939581513
1990, Music: 7.231195420855654
1990, War: 15.592607836680935
1990, Western: 16.996898995865326
2000, Drama: 8.149272584877128
2000, Comedy: 10.177784442943617
2000, Thriller: 19.21259604514651
2000, Action: 23.115516333986747
2000, Romance: 15.474573729519578
2000, Adventure: 42.240011340394084
2000, Horror: 9.385018570761705
2000, Crime: 19.47858553639139
2000, Family: 24.88435158501441
2000, Fantasy: 31.856846598344976
2000, Animation: 18.734711281347113
2000, Science Fiction: 24.201702810018325
2000, Mystery: 21.484058258198754
2000, TV Movie: 10.382322912493377
2000, Documentary: 2.1533642735728336
2000, History: 15.749322775578245
2000, War: 21.98993288590604
2000, Music: 8.846016260162601
2000, Western: 18.07080291970803
2010, Drama: 5.831033959775451
2010, Comedy: 7.554758373068671
2010, Thriller: 14.944857727101342
2010, Action: 23.753749697891635
2010, Horror: 7.509856398302289
2010, Romance: 11.341793660241342
2010, Adventure: 34.71045168580835
2010, Crime: 16.550165826652393
2010, Science Fiction: 17.52923728516433
2010, Family: 17.27476448648441
2010, Fantasy: 19.104506487282798
2010, Animation: 16.444538098449087
2010, Mystery: 15.740471968852246
2010, Documentary: 2.161666524885709
2010, TV Movie: 11.815243387099674
2010, History: 12.83479201494739
2010, Music: 7.019666887271122
2010, War: 15.923137232940386
2010, Western: 13.129728986105379
2020, Drama: 6.261924963856564
2020, Comedy: 9.684946051889519
2020, Thriller: 17.609585247294987
2020, Action: 45.747774277921714
2020, Horror: 10.274158784694826
2020, Adventure: 56.60231699517413
2020, Romance: 13.788400284503819
2020, Science Fiction: 22.33360491351216
2020, Family: 27.079549685311587
2020, Crime: 21.0736078241282
2020, Fantasy: 23.567762762391812
2020, Animation: 23.724734443515942
2020, Mystery: 15.004239503809119
2020, Documentary: 2.4632515087037814
2020, History: 17.097943523634132
2020, TV Movie: 11.745146219798993
2020, Music: 7.16421421894529
2020, War: 29.492736914918147
2020, Western: 9.838189308581923